#root {
   max-width: 900px;
   width: 100%;
   margin: 0 auto;
   padding: 1.2rem 2rem;
   text-align: left;
}

@keyframes logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

@media (prefers-reduced-motion: no-preference) {
   a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
   }
}

.header {
   float: left;
   width: 100%;
   margin-bottom: 30px;
   padding-bottom: 15px;
   border-bottom: 1px solid #ccc;
}

.desktop-menu {
   display: inline;
   float: left;
   padding-bottom: 20px;
   margin: 26px 0 0 30px;
}

.mobile-menu {
   display: none;
}

.logotype {
   float: left;
}

.main-page {
   clear: both;
}
.link {
   margin: 20px 15px;
   color: black;
   cursor: pointer;
}

.mobile-link {
   display: block;
   margin: 0 15px;
   width: 160px;
   color: black;
   cursor: pointer;
}
.logotype-link {
   margin: 0;
   color: black;
   cursor: pointer;
}

body {
   place-items: normal !important;
}

li {
   text-align: left;
}

button {
   background: #ddd !important;
   color: black;
   border-radius: 8px;
   border: 1px solid transparent;
   padding: 0.71em 1.4em;
   font-size: 1em;
   font-weight: 500;
   font-family: inherit;
   background-color: #1a1a1a;
   cursor: pointer;
   transition: border-color 0.25s;
 }

 button:hover {
   border-color: #646cff;
 }

 button:focus, button:focus-visible {
   outline: 4px auto -webkit-focus-ring-color;
 }

h2 {
   font-size: 2em;
}

h3 {
   font-size: 1.4em;
}

a.link-color {
   color: black;
}

.notVisible {
   display: none;
}

.visible {
   display: block !important;
}

.selector-div {
   padding: 0 0 20px;
}

.selector-div select {
   padding: 8px;
   border-radius: 4px;
}

.textInput {
   padding: 8px;
   margin: 5px 0 5px 10px;
   border-radius: 5px;
   border: #888 solid 1px;
}

.tracks {
   width: 240px;
}

.categories,
.artists,
.records a {
   padding: 5px 0;
}

.backlink {
   margin-top: 30px;
   clear: both;
   float: left;
   text-align: center;
   width: 100%;
   display: block;
}

.imagesDiv {
   margin: 20px 0;
}

.delete-icon {
   position: relative;
   left: 8px;
   top: 5px;
   width: 23px;
   cursor: pointer;
}

.outer-message-box {
   height: 40px;
}
.messageBox {
   margin-top: 30px;
   color: white;
   background-color: #61c961;
   padding: 8px 20px;
   border-radius: 8px;
}

.errorText {
   color: red;
   margin-bottom: 15px;
}

.popup-content {
   padding-bottom: 0 !important;
   max-width: 650px;
}

@media screen and (max-width: 1300px) {
   .popup-content {
      width: 60% !important;
   }
}

@media screen and (max-width: 900px) {
   .popup-content {
      width: 75% !important;
   }

   #root {
      margin: 0;
   }
}

@media screen and (max-width: 835px) {
   .header {
      height: 70px;
   }

   .desktop-menu {
      display: none;
   }

   .mobile-menu {
      display: inline;
      float: right;
      padding-top: 20px;
      width: 33px;
   }

   .mobile-menu-links {
      position: relative;
      left: -142px;
      top: 4px;
      width: 175px;
      padding: 7px 0;
      background-color: #eee;
   }

   .mobile-menu-links li {
      list-style-type: none;
      padding: 6px 0;
   }
}

@media screen and (max-width: 710px) {
   .popup-content {
      margin: auto 15px !important;
      width: 100% !important;
   }
}


@media screen and (max-width: 465px) {
   #root {
      padding: 1.2rem;
   }

   .header {
      height: 60px;
   }

   .logotype {
      width: 300px;
   }
}

@media screen and (max-width: 380px) {
   .header {
      height: 53px;
   }

   .logotype {
      width: 275px;
   }

   .mobile-menu {
      padding-top: 10px;
   }

   .mobile-menu-links {
      top: 8px;
   }
}
